<p>homepage works!</p>
<div class="setpage">
    <p>This Page is for Route use</p>
    <p>Welcome to the Page</p>
    <a [routerLink]="'About'" [routerLinkActive]="'state'" [routerLinkActiveOptions]="{exact:true}">About</a><br>
    <a [routerLink]="'Contact'" [routerLinkActive]="'state'" [routerLinkActiveOptions]="{exact:true}">Contact</a><br>
    <a [routerLink]="'#'" [routerLinkActive]="'state'" [routerLinkActiveOptions]="{exact:true}">Courses</a>
    <hr>
    <h1>Thought of the day</h1>
    <p>Worrying doesnot fix your tomorrow's trouble. It always takes today's Peace!</p>
</div>
