<p>courses works!</p>
<div>
    <h1>Courses for Future</h1>
   
   <div class="engineer">
    <p>Engineer Course</p>
    <p >Engineering is a large scientific branch focused on the practical design and building of structures or machines. 
        There are many subspecialties from aerospace engineering, chemical engineering, computer engineering to environmental engineering.</p>
        <p  >Course Duraion:<b>18hours</b></p>
   </div> 
    <div class="business">
        <p>Business Course</p>
        <p>Business is all around us, and it only seems to be expanding with time. Business graduates have successful careers in various business fields, 
            from sales, financial services to marketing, to name just a few. One factor that determines your marketability is what business degree you 
            complete.</p>
        <p>Course Duraion:<b>20hours</b></p>
    </div>
       <button routerLink="/Courses/CourseDetail">Go to CourseDetail</button>
       <button routerLink="/Courses/Prices">Go to Prices</button>
</div>