<!-- <div app-practice></div>              ///component selector as attribute-->      
<!-- <div class="app-practice"></div>          ///component selector as css class -->
<!-- <div id="app-practice"></div>               ///component selector as css id -->




<!-- <div>
  <input type="text" name="Fullname">
  <button>Submit</button>
</div>
 -->

 

<!-- <app-basic></app-basic> -->


<!-- 
<app-binding><p>Hello ,it is single slot content projection</p>

  <p state>Hello, it is multi-slots content projection </p>
  <p state2>Hello</p>
</app-binding> -->




<!-- <button (click)="toUpdatechanges()">Button</button>
<app-hooks [data]="name" *ngIf="state"></app-hooks> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-practice></app-practice> -->

<!-- <app-view-encapsulation></app-view-encapsulation> 
<button class="btn">Button</button> -->

<app-parent></app-parent> 

<!-- <app-header></app-header> -->

<!-- <app-dependency></app-dependency> -->

<!-- <app-content><p>This is the single shot content projection</p></app-content>

<app-content></app-content>

<app-content></app-content> -->


<!-- <app-method [message]="'Hello'"></app-method> -->

