<!-- <form>
  <label name="Firstname">Firstname</label>
  <input type="text"><br>
  <label name="Lastname">Lastname</label>
  <input type="text"><br>
  <label name="Phone">Phone Number</label>
  <input type="number"><br>
  <button value="submit">Submit</button>
</form>-->




<!-- 

<h1>Dynamic table</h1>
<div class="container">
  <table>
<thead>
<tr>
  <th *ngFor="let head of headings">{{head.label}}</th>
</tr>
</thead>
<tbody>
 <tr *ngFor="let student of data">
  <td *ngFor="let head of headings">
    {{student[head.key]}}
  </td>
</tr>
</tbody>
  </table>
</div>

<h1>Employee Details</h1>
<div>
<table>
  <thead>
    <tr>
      <th *ngFor="let key of tablehead">{{key.value}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of details">
      <td *ngFor="let option of tablehead">
        {{emp[option.item]}}
      </td>
    </tr>
  </tbody>
</table>
</div>
 -->




<!-- <div app-practice></div>              ///component selector as attribute-->      
<!-- <div class="app-practice"></div>          ///component selector as css class -->
<!-- <div id="app-practice"></div>               ///component selector as css id -->




<!-- <div>
  <input type="text" name="Fullname">
  <button>Submit</button>
</div>
 -->

 

<!-- <app-basic></app-basic> -->


<!-- 
<app-binding><p>Hello ,it is single slot content projection</p>

  <p state>Hello, it is multi-slots content projection </p>
  <p state2>Hello</p>
</app-binding> -->



<!-- 
<button (click)="toUpdatechanges()">Button</button>
<app-hooks [data]="name" *ngIf="state"></app-hooks> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-practice></app-practice> -->

<!-- <app-view-encapsulation></app-view-encapsulation> 
<button class="btn">Button</button> -->

<!-- <app-parent></app-parent>  -->

<!-- <app-header></app-header> -->

<!-- <app-dependency></app-dependency> -->

<!-- <app-content><p>This is the single shot content projection</p>

<p states>This is multi shot projection</p>

<p refer>This is conditional content projection</p></app-content> -->


<!-- <app-method [message]="' Hello, I\'m there'"></app-method> -->



<!-- <app-homepage></app-homepage>
<router-outlet></router-outlet>
<app-page></app-page> -->


<!-- <app-forms></app-forms> -->

<!-- <app-templatedriven></app-templatedriven> -->


<app-verbspage></app-verbspage>

<!-- <div>
  <button type="button" routerLink="/auth">Auth</button>
  <button type="button" routerLink="/article">Article</button>
</div>
<router-outlet></router-outlet> -->