.setjavs{
    display: block;
    border: 3px solid rgb(238, 26, 26);
    width: 100vh;
    height: 20vh;
}
.setang{
    display: block;
    border: 3px solid rgb(238, 26, 26);
    width: 100vh;
    height: 20vh;
}