<p>coursedetail works!</p>


<div class="setjavs">
    <p>Javascript Course</p>
    <p >You interact with JavaScript code all the time — you just might not realize it. It powers dynamic behavior on websites (like this one) and plays an 
        important role in many fields, like front- and back-end engineering, game and mobile development, virtual reality, and more. In this course, you'll
         learn JavaScript fundamentals that will be helpful as you dive deeper into more advanced topics. </p>
        <p>Course Duraion:<b>18hours</b></p>
        <button [routerLink]="'/Courses/Prices'">Price details</button>
   </div> 

   <div class="setang">
    <p>Angular Course</p>
    <p >In the current work space, there are various frameworks and libraries designed to provide alternative solutions. And when it comes to front-end web 
        development, Angular addresses most of the issues developers face when using JavaScript on its own.
      Angular is an open-source, JavaScript framework written in TypeScript, with clear advantages and a standard structure for developers on a team to work 
      with. Understand all about it in our Angular tutorial. Start learning the angular tutorial now </p>
        <p>Course Duraion:<b>18hours</b></p>
        <button [routerLink]="'/Courses/Prices'">Price details</button>
   </div> 